<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentes</title>
    <link href="{{ url_for('static', filename='css/agentes.css') }}" rel="stylesheet">
</head>
<body>

<header class="header">
    <h1 class="logo">C.R.I.S</h1>
    <nav class="menu">
        <a href="{{ url_for('agentes') }}">Agentes</a>
        <a href="{{ url_for('criaturas') }}">Bestiário</a>
        <a href="{{ url_for('itens') }}">Itens Paranormais</a>
        <a href="{{ url_for('atividade_paranormal') }}">Atividade Paranormal</a>
    </nav>
</header>

<main class="container">
    <section class="formulario">
        <h2>Formulário</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="sobrenome" placeholder="Sobrenome">
            <input type="date" name="data_nasc" placeholder="Data de Nascimento">
            <input type="text" name="contato_emergencia" placeholder="Contato de Emergência">
            <input type="text" name="elemento" placeholder="Elemento">

            <select name="classe" required>
                <option value="" disabled selected>Selecione a classe</option>
                <option value="especialista">Especialista</option>
                <option value="combatente">Combatente</option>
                <option value="ocultista">Ocultista</option>
                <option value="sobrevivente">Sobrevivente</option>
            </select>

            <textarea name="observacoes" placeholder="Observações"></textarea>

            <label>Status</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="statusSwitch" name="status" value="vivo"  checked>
                        <label class="form-check-label" for="statusSwitch">Vivo</label>
                    </div>

            <input type="file" name="imagem">
            <button type="submit">Cadastrar Agente</button>
        </form>
    </section>

    <section class="cards">
        {% for agente in agentes %}
        <div class="card">
            <img src="{{ url_for('static', filename=agente.imagem if agente.imagem else 'uploads/default.jpg') }}" alt="Imagem do Agente" class="avatar">
            <h3>{{ agente.nome }} {{ agente.sobrenome }}</h3>
            <p>Elemento: {{ agente.elemento }}</p>
            <p>Classe: {{ agente.classe }}</p>
            <p>Status: {{ agente.status }}</p>
            <a href="{{ url_for('editar', id=agente.id) }}" class="btn">Editar</a>
            <form method="POST" action="{{ url_for('deletar', id=agente.id) }}" style="display:inline;">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
        {% endfor %}
    </section>
</main>

</body>
</html>
